PORT=8000
MONGODB_URI=mongodb+srv://abhi_khambat_:<db_password>@cluster0.jpybtbn.mongodb.net/
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=abhi
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=abhi 
REFRESH_TOKEN_EXPIRY=10d
